@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');

.container{
  font-family: 'Roboto', sans-serif;
  border: 2px solid;
  border-color: #3F51B5;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 140px 100px;
}

.form-item-text{
  padding: 0px;
  margin:10px 0;
  border:0;
  border-radius:10px;

}

.form-item-select {
  width: 100%;
  border-radius:10px;
  margin:10px 0;
}


.button {
  appearance:none;
  -webkit-appearance:none;
  padding:10px;
  border:none;
  background-color:#3F51B5;
  color:#fff;
  font-weight:600;
  border-radius:5px;
  width:100%;
  margin: 25px 0;
}
